<div class="form-group">
  <input type="text" class="form-control" [(ngModel)]='location' (keyup.enter)="showTemperature()"
    (blur)="showTemperature()" placeholder="e.g. New York">
</div>

<div>

  <div class="weather-forecast" *ngIf="currentForecast.location">
    <div class="location">
      <h1>{{currentForecast.location}}</h1>
    </div>
    <div class="date">
      {{currentForecast.date}}
    </div>
    <div class="desc">
        {{currentForecast.skyCondition}}
    </div>
    <div class="current">
      <div class="visual">
        <div class="icon"> <img src={{currentForecast.icon}} width="64px" height="64px"> </div>
        <div class="temp"> {{currentForecast.maxTemperature}} </div>
        <div class="scale">°C</div>
      </div>
      <div class="description">
          <div class="precip">{{currentForecast.percp}}%</div>
          <div class="humidity">{{currentForecast.humid}}%</div>
          <div class="wind">{{currentForecast.wind}}</div>
          <!-- <div class="pollen">36</div> -->
        </div>
    </div>
  </div>
  <div class="scroll-it">
    
  <div *ngFor="let forecast of forecasts" class="seven-day">
  
    <app-daily-forecast [forecast] = forecast></app-daily-forecast>
  </div>
  </div>
</div>

<router-outlet></router-outlet>